/**
	Especificaciones CSS para el juego del solitario 
*/


/**
	Primer estilo donde incluimos el fondo de casino con un 100% auto 
	para que se vea mejor y traemos la fuente de Google web fonts
*/

body {
	background-color: #fcf5f4;
	background-size: 100% auto;
	font-family: 'Verdana, sans-serif';
}
/* Todos los contadores estarán ubicados en la parte inferior
   derecha (position absolute) de los respectivos tapetes (position relative).
*/
.contador {
	position: absolute;
    bottom: 0px;
    right: -5px;
    font-size: 16px;
    background: #e65014;
    border-radius: 50%;
    width: 20px;
    color: white;
    height: 20px;
    z-index: 1;
}

/* Centrado del título y color */
h1#titulo {
	color: #E65014;
	font-weight: bold;
}

/* */
span{
	font-size: 22px;
}

/* Mesa que contiene a los tapetes centrados */
div#mesa{
	text-align: center;
	margin:20px;
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete{
	display: inline-block;
	position: relative;
	margin: 10px;
	-webkit-box-shadow: -2px 12px 33px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 12px 33px -8px rgba(0,0,0,0.75);
	box-shadow: -2px 12px 33px -8px rgba(0,0,0,0.75);
	border-radius: 5px;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial{
	width: 600px;
	height: 450px;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial){				
	height: 125px;
	width: 100px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes{
	background-color: white;
	background-size: 100% 100%;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor{
	background-color: #debb70;
	background-size: 100% 100%;
}

/* Imagenes hijas dentro del tapete inicial */
img.cartasTapeteInicial {
	width: 15%;
	position: absolute;
	left: 0;
   	border-radius: 10px;
	border: 1px solid #8a6d3b;
	-webkit-box-shadow: -2px 12px 33px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 12px 33px -8px rgba(0,0,0,0.75);
	box-shadow: -2px 12px 33px -8px rgba(0,0,0,0.75);
}

/* Estilo para resaltar la carta en movimiento */
img.moviendoCarta {
  border: solid 2px orange;
  /* En esta parte decidimos incluir una animación, 
  que se repita 10 veces cada segundo con el objetivo de que
  el jugador vea que carta ha seleccionado y esta esperando ser dropeada  */
  animation: latidos 1s 10;
}

/* Estilo para separar el tiempo de los movimientos */
span.separador {
	display:inline-block; 
	width:200px;
}

/* Contenedor de botón reiniciar */
div.reiniciar {
	text-align: center;
    margin-top: 50px;
}

/* Números de contadores de cartas */
span#contador_tiempo, span#contador_movimientos {
	font-weight: bold;
}

/* Estilo para bloquear los demás elementos */
img.blocked {	
	pointer-events: none;
	opacity: 0.5;
}

/* Animación con keyframe llamada "latidos" usada en el movimiento de la carta*/
@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}